.fancybox-is-open .fancybox-bg {
  background: rgba(0, 0, 0, 0.35);
  opacity: 1;
}

.popup {
  overflow: visible;

  padding: 24px;
  max-width: 448px;
  width: 100%;

  cursor: auto !important;

  background: #ffffff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 0px 96px rgba(0, 0, 0, 0.16);
  border-radius: 8px;

  .fancybox-close-small {
    top: 10px;
    right: -42px;

    width: 28px;
    height: 28px;
    padding: 0;

    transition: all 0.2s linear;
    outline: none;

    opacity: 1;
    background: url("../images/dist/icons/modal__close.svg") rgba(0, 0, 0, 0.35)
      no-repeat center;
    border-radius: 21px;
    border: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }

    svg {
      display: none;
    }
  }
}

.popup__title {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;

  margin-bottom: 8px;

  color: #000000;
}

.popup__text {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.078px;

  margin-bottom: 25px;

  color: #5a6c74;
}

.popup__placeholder {
  margin-bottom: 14px;
}

.popup__wrapper {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    width: 100%;
    height: 100%;

    content: "";

    background: url("../images/dist/stamp__mask.svg") no-repeat center;
  }

  &--signature {
    &::before {
      background-image: url("../images/dist/signature__mask.svg");
    }
  }
}

.popup__img {
  display: block;

  width: 100%;
  height: auto;
  max-height: 235px;
  height: 235px;

  object-fit: contain;
}

.popup__controls {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  margin-bottom: 35px;
}

.popup__btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.popup__btn {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 15px;

  padding: 8px 16px;
  margin-right: 8px;

  transition: all 0.2s linear;
  cursor: pointer;

  border: none;
  background: #e5ebf1;
  border-radius: 4px;
  color: #55677d;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background: #1d67ab;
    color: #ffffff;
  }

  &--blue {
    background: #1d67ab;
    color: #ffffff;

    &:hover {
      background: #e5ebf1;
      color: #55677d;
    }
  }
}

.popup__item {
  width: 183px;

  .form-label {
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.154px;

    margin-bottom: 12px;

    color: #5a6c74;
  }
}

@media (max-width: 767px) {
  .popup {
    padding: 20px;

    .fancybox-close-small {
      right: 5px;
      top: 5px;
    }
  }

  .popup__controls {
    flex-wrap: wrap;
  }

  .popup__item {
    width: 100%;
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
